<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增权限角色</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.serializejson.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
    <form class="form-horizontal"action="/permission/save" method="post">
     <div class="form-group">
       <label class="clo-sm-2  control-label" >权限名称</label>
       <div class="clo-sm-8 ">
           <input class="form-control" type="text" id="name" name="name">       
       </div>
     </div>
      <div class="form-group ">
       <label class= "clo-sm-2 control-label" >资源路径</label>
        <div class="clo-sm-8">
       <input  class ="form-control"  name="resource">
        </div>
     </div>
      <div class="form-group ">
       <label class="clo-sm-2 " >父级菜单</label>
       <div class="clo-sm-10 control-label" >
        <select name="parentId">
        <option value ="0">请选择父级菜单</option>
       <div th:each="level1:${menus}">
       <option th:value="${level1.pid}"  th:text="${level1.name}"> </option>
			<div th:each="level2,l2:${level1.childs}">
				<option th:if="${l2.last!=true}" th:value="${level2.pid}"  th:text="|&nbsp;&nbsp;${level2.name}|"></option>
				<option th:if="${l2.last==true}" th:value="${level2.pid}"  th:text="|&nbsp;&nbsp;${level2.name}|"></option>
			</div>
		</div>
	   </select>
	   </div>
     </div>
      <div class="form-group ">
       <label class=" clo-sm-2 " >权限级别</label>
       <div class="clo-sm-10 control-label">
       <select  name="level">
         <option value="1">一级菜单</option>
         <option value="2">二级菜单</option>
         <option value="3">按钮</option>
      </select>
      </div>
     </div>
      <div class="form-group ">
       <label class=" clo-sm-2 " >权限名称</label>
       <div class="clo-sm-10 control-label">
       <select  name="type">
          <option value="0">菜单</option>
          <option value="1">新增</option>
          <option value="2">更新</option>
          <option value="4">删除</option>
      </select>
      </div>
     </div>
      <div class="form-group ">
       <input class="button " type="submit"  value="提交">
     </div>
    </form>
 </div>
</body>
</html>