<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>权限不足</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.serializejson.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="alert alert-danger">你的权限不足,不能执行该操作</div>
	</div>
</body>
</html>